html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-size: cover !important;
}

div#container {
  text-align: center;
  padding: 4em;
}

div#container h1 {
  color: white;
  font-size: 600%;
  text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}

img#footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
}
